@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-poppins: "Poppins", sans-serif;
  }
  
  body {
    font-family: var(--font-poppins);
  }
.imgsize{
    width: full;
    height: full; 
}
.blue {
  background-color: #1AAFF6;
}
.text-color {
  color: #1AAFF6;
}
.liner{ 
    color: #02F7FF; 
}
.threeimg{
    max-width: 1021%;
    max-height: 102%;
}
.footer-main{
  max-width: 176%;
  max-height: 36%;
}
.footer-conatiner{
  max-width: 1014.83%;
  max-height: 36%;
}
.joinus{
  color: #636363;
}
.bikelight{
  max-width: 1920px;  
  max-height: 1080px;


}
.foam-main{
  max-width: 1920px;
  max-height: 626px;
  margin-left: auto; 
  margin-right: auto;
  
}
.images{
  max-width: 1838px;
  max-height: 885px;
  margin-left: auto;
  margin-right: auto;
  
}
.maskContainer{
  max-width: 1920px;
  max-height: 1080px;

}
.textContainer{
  max-width: 1021px;
  max-height: 460px;
}
.cardmain{
  max-width: 300px;
  max-height: 344px;
}
